hdiv-config/src/main/resources/org/hdiv/config/xml/hdiv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.hdiv.org/schema/hdiv"
	targetNamespace="http://www.hdiv.org/schema/hdiv" elementFormDefault="qualified"
	attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="validation">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
	Validation rule for a editable value.
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="acceptedPattern" type="xsd:string"
					minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation><![CDATA[
	Regular expression that defines the values ​​allowed by a value.
						]]></xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="rejectedPattern" type="xsd:string"
					minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation><![CDATA[
	Regular expression defining the values ​​are not allowed by a value.
						]]></xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Id of the validation rule.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="componentType" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Type of field you are going to apply the validation.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="editableValidations">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="validationRule" maxOccurs="unbounded">
					<xsd:complexType mixed="true">
						<xsd:attribute name="url" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation><![CDATA[
	Regular expression that defines the url for which validation is applied.
								]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="enableDefaults" type="xsd:boolean"
							default="true">
							<xsd:annotation>
								<xsd:documentation><![CDATA[
	Enable default editable validations for this validation rule. True by default.
								]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string"
				default="editableParametersValidations" />
			<xsd:attribute name="registerDefaults" type="xsd:boolean"
				default="true">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Register default editable validations and use in all validation rules. True by default.
	Default editable validations detects Sql injection, exec command and XSS attacks.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="config">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
	Hdiv general configuration.
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="sessionExpired" minOccurs="0"
					maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation><![CDATA[
	Configuration for Session Expiration related cases. 
						]]></xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="true">
						<xsd:attribute name="loginPage" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation><![CDATA[
	Url of the login page. Users that cause a session expiration related error and are not logged in are redirected here. 
								]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="homePage" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation><![CDATA[
	Url of the login page. Users that cause a session expiration related error and are logged in are redirected here. 
								]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="startPages" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation><![CDATA[
	List of urls separated by commas. These URLs are not validated. 
						]]></xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="true">
						<xsd:attribute name="method" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation><![CDATA[
	HTTP method of the start page. 
								]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="startParameters" type="xsd:string"
					minOccurs="0">
					<xsd:annotation>
						<xsd:documentation><![CDATA[
	List of parameters separated by commas. These parameters are permitted in all application. 
						]]></xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="paramsWithoutValidation" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation><![CDATA[
	These parameters are permitted without validation. 
						]]></xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="mapping" maxOccurs="unbounded"
								minOccurs="0">
								<xsd:complexType>
									<xsd:attribute name="url" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation><![CDATA[
	Url regular expression. 
											]]></xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="parameters" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation><![CDATA[
	List of parameters separated by commas.
											]]></xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="longLivingPages" minOccurs="0"
					maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation><![CDATA[
				Pages whose link and forms never expire. 
									]]></xsd:documentation>
					</xsd:annotation>
					<xsd:complexType mixed="true">
						<xsd:attribute name="scope" type="stateScopeTypes"
							default="user-session">
							<xsd:annotation>
								<xsd:documentation><![CDATA[
				Name of the scope to configure for this particular long-living page. Defaults to 'user-session' scope.
											]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="confidentiality" type="xsd:boolean"
				default="true">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Boolean defining if confidentiality is activated. 
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="id" type="xsd:string" default="config">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Id of the config bean. 
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="avoidCookiesIntegrity" type="xsd:boolean"
				default="false">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Boolean defining if cookies integrity is activated. Defaults to false.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="avoidCookiesConfidentiality" type="xsd:boolean"
				default="false">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Boolean defining if cookies confidentiality is activated. Defaults to false.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="avoidValidationInUrlsWithoutParams"
				type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Boolean defining if parameterless urls are securized. Defaults to false.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="strategy" type="strategy" default="memory">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Hdiv strategy. Defaults to 'memory'.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="randomName" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	HDIV adds an extra parameter to all links and forms. By default this parameter is '_HDIV_STATE_'. If 'randomName' is true a random name is generated instead of default.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="errorPage" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Url of the error page to which HDIV will redirect the request if it doesn't pass the HDIV validation.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="protectedExtensions" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	List of url extensions that Hdiv protects. 
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="excludedExtensions" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	List of url extensions that Hdiv don't protects. 
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="userData" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Id of the UserData bean. 
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="debugMode" type="xsd:boolean"
				default="false">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	If debug mode is enabled, the attacks are logged but the requests are not stopped. Defaults to false.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="maxPagesPerSession" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Maximum number of page states stored per user session. Defaults to 5.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="showErrorPageOnEditableValidation"
				type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Show error page on Editable Validation errors. Defaults to false.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="reuseExistingPageInAjaxRequest"
				type="xsd:boolean" default="false">
				<xsd:annotation>
					<xsd:documentation><![CDATA[
	Reuse previous page when an AJAX request is received and don't create a new one. Defaults to false.
					]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:simpleType name="strategy">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="memory" />
			<xsd:enumeration value="cipher" />
			<xsd:enumeration value="hash" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="stateScopeTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="user-session" />
			<xsd:enumeration value="app" />
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>